 // custom colors
 $pillGreen: hsl(181, 77%, 25%);
 $pillWhite: hsl(181, 77%, 97%);
 $pillInk: hsl(181, 77%, 10%);
 $pillGold : #D8A47F;

 $font-family : "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;

 //font-sizes
 $font-s1: 1.25rem;
 $font-s2: 1.5rem;
 $font-s3: 2rem;
 $font-s4: 2.5rem;

 $logo-fs-tab: 1.25rem;
 $logo-fs-desk: 1.5rem;

 $hero-fs-mob: 1.5rem;
 $hero-fs-tab: 2rem;
 $hero-fs-desk: 2.5rem;

 $alphaNav-fs: 2rem;

 $drugList-fs-tab: 1.5rem;
 $drugList-fs-mob: 1.25rem;

 //margin and padding
 $logo-mgt: 0.5rem;
